/* ----- GLOBAL ----- */

* { box-sizing: border-box; }

html {
	font-size: 100%;
	font-family: 'Lato', sans-serif;
	background-color: #f9f9f9;
}

h1, h2, h3, ul {
	font-family: 'Patua One', cursive;
}

body {
	margin-top: 4.5rem;
}

main {
	width: 80%;
	margin: 1rem auto;
	display: flex;
	flex-flow: column nowrap;
}


/* ----- NAVIGATION BAR ----- */

header {
	width: 100%;
	height: 3.5rem;
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	border-bottom: 1px solid lightgray;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
}

header h1 {
	height: 3.5rem;
	font-size: 1.5rem;
	margin: 0;
	padding: 0.8rem;
}

header h1 a {
	text-decoration: none;
	color: black;
}

#hamburger {
	height: 3.5rem;
	padding: 1rem;
	margin-right: 0.25rem;
}

nav ul {
	display: none;
	font-size: 0.75rem;
	height: 3.5rem;
	list-style: none;
	margin-right: 1rem;
}

nav ul li {
	margin: 0.7rem 1rem 0rem 1rem;
}


/* ----- HOME ----- */

footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: white;
	border-top: 1px solid lightgray;
}

footer h3 {
	text-align: center;
}

.transparent {
	opacity: 0.7;
}


/* ----- ABOUT ----- */

#img-resume-container {
	margin: 1rem auto;
}

#main-about div picture img {
	border-radius: 50%;
}

#resume-button {
	display: block;
	width: 6.25rem;
	height: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	background-color: #c1c1c1;
	border-radius: 3px;
	margin: 1rem auto;
	margin-bottom: 1rem;
	font-size: 0.75rem;
	text-decoration: none;
	color: black;
}


/* ----- PROJECTS ----- */

.project {
	width: 100%;
	margin: 1rem auto;
}

.project h2, h4 {
	margin: 0.25rem;
}


/* ----- RESPONSIVE CSS ----- */

@media (min-width: 35rem) {
	html {
		font-size: 20px;
	}

	#hamburger {
		padding: 0.85rem;
	}

	#main-about p {
		font-size: 0.8rem;
	}
}

@media (min-width: 48rem) {
	#hamburger {
		display: none;
	}

	nav ul {
		display: flex;
		align-content: center;
	}

	nav ul li a {
		color: black;
		text-decoration: none;
	}
}

@media (min-width: 60rem) {
	#main-about {
		width: 90%;
		flex-flow: row nowrap;
		justify-content: space-around;
	}

	#img-resume-container {
		display: flex;
		flex-flow: column nowrap;
	}

	#bio {
		width: 50%;
		padding-right: 1rem;
	}
}

@media (min-width: 90rem) {
	html {
		font-size: 22px;
	}

	#bio {
		width: 55%;
		padding-right: 1rem;
	}
}