* {
  	box-sizing: border-box;
}

html {
  	font-size: 100%;
 }

body {
	font: 100% Arial, sans-serif;
	background-color: #87b1ff;
}

#container {
		margin: 1rem;
		overflow: auto;
	}

.contentBox {
	float: left;
	background-color: #556582;
	color: white;
	text-align: center;
	width: 22rem;
	margin: 1rem;
	padding: 0.75rem;
}

@media (min-width: 50rem) {
	
	body {
		background-color: #17469e;
	}

	.contentBox {
		margin: 1rem;
	}
}

@media (min-width: 74rem) {

	body {
		background-color: #010a1c;
	}
}